button, a {
	cursor: pointer;
}

.header-wrapper {
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
}

.header-wrapper.show {
	transform: translateY(0);
}

.header-wrapper.hide {
	transform: translateY(-100%);
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center-x {
	display: flex;
	justify-content: center;
}

.flex-center-y {
	display: flex;
	align-items: center;
}

.scrollbar-custom::-webkit-scrollbar {
	width: 10px;      /* vertical scrollbar width */
	height: 10px;     /* horizontal scrollbar height */
}

.scrollbar-custom::-webkit-scrollbar-track {
	background: transparent; /* or a color */
	border-radius: 999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.25);
	border-radius: 999px;
	border: 2px solid transparent;      /* makes it look padded */
	background-clip: content-box;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
	background: rgba(0,0,0,0.4);
	border: 2px solid transparent;
	background-clip: content-box;
}

@media (max-width: 768px) {
	.scrollbar-custom::-webkit-scrollbar {
		width: 7px;      /* vertical scrollbar width */
		height: 10px;     /* horizontal scrollbar height */
	}
}

.table-wrapper-scrollable {
    overflow-x: auto;
}


@media (max-width: 768px) {
    .table-wrapper {
      overflow-x: auto;
    }

}

@media (max-width: 640px) {
  .thead, .tdata {
    width: 800px !important;
  }
}
